/* GLOBAL / INITIALIZATION */
* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./images/background.jpg");
    background-size: auto;
    text-align: center;

}



/* BUTTON STUFF */
button {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
    padding: 10px;
}

button:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: rgb(179, 179, 179);
}

#play-button {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#rules-button {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.rules {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    margin: 10px;
    width: 1200px;
    font-size: 25px;
    background-color: rgb(228, 159, 255);
    text-align: center;
}

#reveal-button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#easy {
    position: absolute; 
    top: 40%;
    left: 33%;
    transform: translate(-50%, -50%);
}

#medium {
    position: absolute; 
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hard {
    position: absolute; 
    top: 40%;
    left: 67%;
    transform: translate(-50%, -50%);
}

.back {
    position: absolute; 
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main menu */
.title {
    color: black;
    font-size: 40px;
    padding: 40px;
    text-align: center;
    background-color: rgb(0, 183, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* board */
#TheBoard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}
.board {
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
    text-align: center;
    width: 40px;
    height: 40px;
    table-layout: fixed;
}

.board-colour1 {
    background-color: #CEE5F2;
}

.board-colour2 {
    background-color: #9ecfeb;
}

#flags {
    position: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(9, 200, 0);
    font-size: 40px;
    text-align: center;
    width: 300px;
    margin: 30px;
    right: 50%;
}

#time {
    position: fixed;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(9, 200, 0);
    font-size: 40px;
    margin: 30px;
    text-align: center;
    width: 300px;
    left: 50%;
}

/* board status */
.not-visited {
    cursor: pointer;
}
.not-visited:active {
    color: red;
}

.visited-colour1 {
    background-color: #abe0b3;
}
.visited-colour2 {
    background-color: #8bdd97;
}
.is-bomb {
    background-color: rgb(184, 110, 0);
}

/* WIN/LOSE SCREEN */
#status {
    position: absolute;
    font-size: 75px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color: orange;
    border: 3px solid black;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
    width: 500px;
    height: 200px;
    text-align: center;
}

#reveal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    font-size: 30px;
}
#status:hover {
    cursor: pointer;
    transition-duration: 0.5s;
}
#reveal:hover {
    cursor: pointer;
    transition-duration: 0.5s;
}

#back-to-menu-button {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}